.tabs-list__item{
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #eeeeee;
    border-radius: 4px 4px 0 0;
    
    &:hover {
        background: #dddddd;
    }
    &.tabs-list__item--active {
        background: #ffffff;
    }

    &:not(:last-child) {
        border-right-width: 0; 
        margin-right: 2px;
     }
     cursor: pointer;
}
.tabs-list__text{
    color: #444;
    margin: 0;
}